<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.pokemmo.db.mybatis.mapper.CharacterMapper">
    <insert id="insertCharacter">
        insert into character (account_id, character_name, created_at)
        values (#{accountId}, #{characterName}, #{createdAt})
        returning id
    </insert>

    <select id="getCharacters" resultType="org.pokemmo.db.jdbc.Character">
        select * from character
    </select>
    <select id="getById" resultType="org.pokemmo.db.jdbc.Character">
        select * from character where id = #{id}
    </select>

</mapper>